.banner-engineering-services {
    // width: 100%;
    height: auto;
    // overflow: hidden;

    // .engineering_services-heading {
    //     padding-top: 135px;

    //     h2 {
    //         text-align: left;
    //         font-weight: $semi-bold;
    //         font-family: $font-1;
    //         color: $secondary;
    //         opacity: 1;

    //         font-weight: bold;
    //         font-size: 25px;

    //     }
    // }

    .engineering_services-image--sliding {
        padding-top: 66px;
        display: flex;

        .slick-prev {
            display: none;


        }

        .slick-next {
            display: none;
        }

        .engineering_services-image--grid {

            padding-right: 461px;
            display: flex;
            justify-content: space-between;

            a {
                .image--zoom {
                    img {
                        width: 432px;
                        height: 319px;
                    }
                }

                .image_slider_arrow {
                    display: flex;
                    justify-content: space-between;
                    height: 89px;
                    width: 432px;
                    align-items: center;
                    background: #EFF0F0 0% 0% no-repeat padding-box;

                    h6 {
                        padding-left: 30px;
                        font-size: 18px;
                        letter-spacing: 0px;
                        color: $secondary;
                        font-family: $font-1;
                        font-weight: $bold;
                    }


                    .image_slider--size {
                        padding-right: 30px;


                    }

                }
            }
        }

    }


}




.image--zoom:hover img {
    transform: scale(1.5);

}

.image--zoom img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.image--zoom {
    width: 432px;
    height: 319px;
    overflow: hidden;
    margin: 0 auto;
}

.slick-list.draggable {
    height: 400px;
}



@media(max-width: $media-md) {
    .banner-engineering-services {
        .engineering_services-heading {}

        .engineering_services-image--sliding {
            .slick-prev {
                display: none;


            }

            .slick-next {
                display: none;
            }
        }
    }

}

@media(max-width: $media-xlg) {
    .banner-engineering-services {
        .engineering_services-heading {}

        .engineering_services-image--sliding {
            .slick-prev {
                display: none;


            }

            .slick-next {
                display: none;
            }
        }
    }

}

@media(max-width: $media-xlg) {

    .banner-engineering-services {
        .engineering_services-heading {}

        .engineering_services-image--sliding {
            .slick-prev {
                display: none;


            }

            .slick-next {
                display: none;
            }
        }
    }

}

@media(max-width: $media-md) {

    .banner-engineering-services {
        .engineering_services-heading {}

        .engineering_services-image--sliding {
            .slick-prev {
                display: none;


            }

            .slick-next {
                display: none;
            }
        }
    }

}

@media(max-width: $media-xs) {

    .banner-engineering-services {
        .engineering_services-heading {
            font-size: 15px;
        }

        .engineering_services-image--sliding {
            .slick-prev {
                display: none;


            }

            .slick-next {
                display: none;
            }
        }
    }

}