.banner-Infrastructure {
    width: 100%;
    height: auto;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #DFE7EE 100%) 0% 0% no-repeat padding-box;
    opacity: 1;


    .container-alpha {
        .infrastructure_heading_paragrapg {
            width: 100%;
            padding-top: 162px;

            h3 {
                text-align: left;
                font-weight: $semi-bold;
                font-family: $font-1;
                color: $secondary;
                opacity: 1;
                font-size: 25px;
                padding-bottom: 36px;

            }

            p {
                font-size: 20px;
                font-family: $font-1;
                color: $secondary;
                opacity: 1;
                font-weight: $regular;
                width: 620px;
                height: 84px;

            }
        }

        .picture_capacity_process_facility {
            padding-top: 73px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 5px;

            .picture-capacity--grid {
                display: grid;
                justify-content: space-between;

                .capacity-header_arrow {
                    display: flex;
                    justify-content: space-between;
                    background-color: $white;
                    height: 89px;
                    align-items: center;


                    h6 {

                        padding-left: 30px;
                        font-size: 18px;
                        letter-spacing: 0px;
                        color: $secondary;
                        font-family: $font-1;
                        font-weight: $semi-bold;

                    }


                    .capacity__image--size {
                        padding-right: 30px;

                    }


                }
            }
        }

        .industries_heading_discription__svgs {
            padding-top: 212px;
            padding-bottom: 126px;

            .industries_heading_and__discription {
                h3 {
                    text-align: left;
                    font-weight: $bold;
                    font-family: $font-1;
                    color: $secondary;
                    opacity: 1;
                    font-size: 30;

                }

                p {
                    font-size: 20px;
                    font-family: $font-1;
                    color: $secondary;
                    opacity: 1;
                    font-weight: $regular;
                    padding-top: 12px;
                    width: 415px;
                    height: 54px;

                }

            }

            .industries__svgs_discription {
                padding-top: 34px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .automotive_svg {
                    display: grid;

                    .automotive_svg--height {
                        height: 180px;
                    }

                    .automotive_svg_caption {
                        font-size: 30px;
                        font-family: $font-1;
                        color: $secondary;
                        opacity: 1;
                        font-weight: $semi-bold;
                        font-size: 16px;
                        text-align: center;


                        p {
                            font-weight: $bold;
                        }
                    }
                }
            }
        }

    }
}


// media query//



@media(max-width: $media-lg) {
    .banner-Infrastructure {
        .container-alpha {


            .picture_capacity_process_facility {

                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .picture-capacity--grid {
                    display: grid;

                }
            }

        }

    }
}

@media(max-width:$media-md) {
    .banner-Infrastructure {
        .container-alpha {
            .infrastructure_heading_paragrapg {
                p {
                    font-size: 20px;
                }
            }

            .picture_capacity_process_facility {

                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .picture-capacity--grid {
                    display: grid;

                }
            }

            .industries_heading_discription__svgs {
                padding-top: 212px;
                padding-bottom: 126px;

                .industries_heading_and__discription {
                    h3 {}

                    p {
                        font-size: 20px;
                        font-family: $font-1;
                        color: $secondary;
                        opacity: 1;
                        font-weight: $regular;
                        padding-top: 12px;
                        width: 415px;
                        height: 54px;


                    }

                }

                .industries__svgs_discription {

                    display: grid;
                    grid-template-columns: repeat(3, 1fr);

                    .automotive_svg--height {
                        display: flex;
                        align-items: center;
                        text-align: center;
                    }

                    row-gap: 50px;

                    .automotive_svg_caption {
                        display: flex;
                        align-items: center;
                    }



                }
            }
        }
    }
}

@media(max-width:$media-sm) {
    .banner-Infrastructure {
        .container-alpha {


            .picture_capacity_process_facility {

                display: grid;
                grid-template-columns: repeat(1, 1fr);

                .picture-capacity--grid {
                    display: grid;

                    .image--zoom {}

                    .capacity-header_arrow {}
                }
            }

            .industries_heading_discription__svgs {
                .industries__svgs_discription {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    row-gap: 10px;

                    .automotive--flex {}
                }
            }

        }

    }
}

@media(max-width:$media-xs) {
    .banner-Infrastructure {
        .container-alpha {
            .infrastructure_heading_paragrapg {
                h3 {
                    font-size: 15px;
                    padding: 0;
                }

                p {
                    width: 301px;
                    height: 73px;
                    font-size: 13px;
                    padding-top: 12px;
                }
            }

            .picture_capacity_process_facility {

                display: flex;
                justify-content: space-between;

                .picture-capacity--grid {
                    display: grid;

                    .image--zoom {
                        width: 120px;
                        height: 91px;
                    }

                    .capacity-header_arrow {
                        width: 120px;
                        height: 24px;
                        display: flex;
                        justify-content: space-between;

                        h6 {

                            padding: 5px;
                            font-size: 11px;

                        }


                        .capacity__image--size {
                            padding: 5px;

                        }
                    }
                }
            }

            .industries_heading_discription__svgs {
                .industries__svgs_discription {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    row-gap: 10px;
                    column-gap: 25px;

                    .automotive--flex {}
                }
            }
        }
    }
}