h2 {
    color: $primary;
    font-family: $font-1;
    font-size: 38px;
    line-height: 45px;
    font-weight: $medium;
    margin-bottom: 0;
}

h3 {
    font-family: $font-1;
    color: $primary;
    font-size: 20px;
    line-height: 30px;
}