footer {

    //border-top: 2px solid #CACED5;
    padding-top: 115px;

    @media(max-width:$media-xs) {
        padding-top: 53px;
    }

    background-color: $secondary;

    article {
        position: relative;

        .grid {
            display: flex;
            // grid-template-columns: repeat(4, 270px);
            // gap: 214px;
            padding-bottom: 97px;
            justify-content: space-between;
            // gap: 100px;

            @media(max-width:$media-lg) {
                gap: 70px;
            }

            @media(max-width:$media-sm) {
                flex-direction: column;
            }

            @media(max-width:$media-xs) {
                flex-direction: column;
                gap: 42px;
                padding-bottom: 47px;
            }
        }

        .footer-communication {
            .footer-logo {
                display: flex;

                .footerlogo-link {
                    .footerlogo {
                        width: 100%;
                        max-width: 250px;

                        @media(max-width:$media-xs) {
                            max-width: 60px;
                        }
                    }

                    p {
                        color: $white;
                        font-family: $font-1;
                        font-weight: $semi-bold;
                        font-size: 20px;
                        line-height: 30px;
                        white-space: nowrap;
                        text-align: center;
                        margin-left: 52px;
                        padding-top: 10px;

                        // @media(max-width:$media-lg) {
                        //     margin-left: 0;
                        // }
                        @media(max-width: $media-xs) {
                            font-size: 11px;
                            line-height: 18px;
                            margin-left: 0;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }

        .footer-container {
            display: grid;
            grid-template-columns: repeat(3, 0.65fr);
            justify-content: space-between;
            gap: 20px;


            @media(max-width:$media-lg) {
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
            }

            @media(max-width:$media-sm) {
                display: flex;
                flex-direction: column;
            }

            @media(max-width:$media-xs) {
                gap: 53px;
            }

            .footer-heading-block {
                .office {
                    padding-top: 20px;
                }

                h2 {
                    color: $white;
                    font-family: $font-1;
                    font-weight: $semi-bold;
                    font-size: 16px;
                    line-height: 26px;

                    @media(max-width:$media-xs) {
                        font-size: 14px;
                    }
                }

                .footer-menus {
                    padding-top: 12px;

                    .footer-links {
                        list-style: none;

                        a {
                            color: #99ABBA;
                            font-family: $font-1;
                            font-size: 15px;
                            line-height: 30px;
                            font-weight: $regular;
                            transition: 0.3s ease;
                            white-space: nowrap;

                            // &:hover {
                            //     color: $white;
                            // }

                            @media(max-width:$media-xs) {
                                font-size: 11px;
                                line-height: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

    .tailend {
        padding-bottom: 110px;
        color: #99ABBA;

        @media(max-width:$media-xs) {
            padding-bottom: 52px;
        }

        .tailend-container {
            display: flex;
            justify-content: space-between;

            @media(max-width:$media-lg) {
                flex-direction: column;
                gap: 20px;
            }


            .tailend-leftblock {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 150px;

                @media(max-width:$media-xlg) {
                    gap: 110px;
                }

                @media(max-width:$media-md) {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    gap: 50px;
                }

                @media(max-width:$media-xs) {
                    gap: 30px;
                }

                .cta-tailend {
                    display: flex;
                    gap: 80px;
                    align-items: center;

                    @media(max-width:$media-sm) {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    @media(max-width:$media-xs) {
                        flex-direction: column-reverse;
                        gap: 0px;
                        align-items: flex-start;
                    }
                }

                .copyrightsblock {
                    p {
                        font-size: 15px;
                        line-height: 25px;
                        font-weight: $regular;

                        @media(max-width:$media-xs) {
                            font-size: 11px;
                            line-height: 22px;
                        }
                    }
                }

                .termsandconditions {
                    display: flex;
                    gap: 60px;
                    justify-content: space-around;

                    p {
                        @media(max-width:$media-xs) {
                            font-size: 11px;
                            line-height: 22px;
                        }
                    }

                    a {
                        color: #99ABBA;
                        transition: 0.3s ease;

                        // &:hover {
                        //     color: $white;
                        // }
                    }

                    @media(max-width:$media-sm) {
                        gap: 0;
                        justify-content: space-evenly;
                    }

                    @media(max-width:$media-xs) {
                        flex-direction: column;
                    }
                }

                .social-media-block {
                    display: flex;
                    gap: 10px;

                    a {
                        img {
                            @media(max-width:$media-xs) {
                                width: 30px;
                            }
                        }
                    }
                }
            }

            .site-by-block {
                display: flex;
                align-items: center;

                p {
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: $regular;

                    @media(max-width:$media-xs) {
                        font-size: 11px;
                        line-height: 22px;
                    }
                }

                a {
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: $regular;
                    color: #99ABBA;
                    margin-left: 5px;
                    transition: 0.3s ease;

                    @media(max-width: $media-xs) {
                        font-size: 11px;
                        line-height: 22px;
                        color: $white;
                    }

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }

    .uparrow-btn {
        position: absolute;
        bottom: 170px;
        right: -50px;

        img {
            transform: rotate(180deg);
            transition: 0.5s ease;
            width: 50px;

            &:hover {
                transform: rotate(0deg);
            }
        }

        @media(max-width: $media-md) {
            display: none;
        }

        @media(max-width:$media-sm) {
            display: none;
        }
    }
}