.modal-form {
    .form-wrapper {
        display: flex;
        height: 100%;

        @media(max-width: $media-sm) {
            flex-direction: column
        }

        .modal-wrapper {
            @media(max-width:$media-sm) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .contact-us {
            padding-top: 40px;
            padding-left: 40px;
            width: 100%;
            background-color: #fff;
            // border-top-left-radius: 10px;
            // border-bottom-left-radius: 10px;
            border-radius: 10px;

            @media(max-width:$media-sm) {
                padding-top: 30px;
                padding-left: 30px;
                padding-right: 30px;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                // border-top-left-radius: 10px;
                // border-top-right-radius: 10px;
                // border-bottom-left-radius: 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            h2 {
                font-family: $font-1;
                font-size: 25px;
                line-height: 30px;
                font-weight: $semi-bold;
                color: $secondary;
                padding-bottom: 20px;

                @media(max-width:$media-sm) {
                    padding-bottom: 20px;
                }

            }

            .contact-wrapper {
                margin-bottom: 48px;

                @media(max-width:$media-sm) {
                    margin-bottom: 10px;
                }

                .mobile-block {
                    display: flex;
                    margin-bottom: 20px;
                    align-items: center;

                    .circle-mob {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 50px;
                        background-color: #092B49;
                    }

                    p {
                        color: $secondary;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: $regular;
                        font-family: $font-1;
                        margin-left: 8px;
                    }
                }
            }

            .address-container {
                // @media(max-width:$media-sm) {
                //     display: none;
                // }

                .address-wrapper {
                    margin-bottom: 40px;

                    @media(max-width:$media-sm) {
                        margin-bottom: 20px;
                    }

                    .address-heading {
                        font-family: $font-1;
                        font-size: 14px;
                        font-weight: $bold;
                        line-height: 20px;
                        color: $secondary;
                    }

                    .address-block {
                        p {
                            color: $secondary;
                            font-family: $font-1;
                            font-size: 14px;
                            line-height: 22px;

                        }
                    }
                }
            }
        }
    }

    .form-heading {
        color: $secondary;
        text-align: center;
        font-size: 25px;
        line-height: 35px;
        font-weight: $semi-bold;
    }

    .modal {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 99999;
        background-color: rgba(#010C15, 0.78);

        &__inner {
            position: relative;
            max-height: 60vh;
            width: 80%;
            // padding: 4rem;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 4rem rgba(#000, 0.2);
        }

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        &__content {
            width: 780px;
            padding-top: 70px;
            padding-left: 70px;
            padding-right: 70px;

            @media(max-width:$media-sm) {
                width: 100%;
                padding-top: 30px;
                padding-left: 30px;
                padding-right: 30px;
            }

            .form-content {
                width: 300px;
                font-size: 14px;
                line-height: 20px;
                color: $secondary;
            }
        }
    }

    .button-close-modal {
        position: absolute;
        top: 0;
        right: -65px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        @media(max-width:$media-sm) {
            right: -45px;
        }
    }

    form {
        padding-top: 20px;
        display: flex;
        flex-direction: column;

        .form-group {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 33px;

            @media(max-width:$media-sm) {
                padding-bottom: 12px;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1.5fr);
            width: 100%;
            justify-content: space-between;
            gap: 40px;

            @media(max-width:$media-sm) {
                gap: 20px;
            }
        }

        label {
            font-family: $font-1;
            font-size: 14px;
            font-weight: $semi-bold;
            line-height: 20px;
            color: #092B49;
            padding-bottom: 7px;

            @media(max-width:$media-sm) {
                font-size: 12px;
                line-height: 12px;
            }
        }

        .textarea {
            border-radius: 5px;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 12px;
            display: flex;
            flex-direction: column;
            height: 160px;
            border: 1px solid #C1CAD1;

            &:focus-visible {
                outline: none;
            }

            @media(max-width:$media-sm) {
                height: 80px;
            }
        }

        input {
            width: 100%;
            display: flex;
            height: 40px;
            border: 1px solid #C1CAD1;
            border-radius: 5px;
            padding-left: 12px;
            padding-right: 12px;

            &:focus-visible {
                border-bottom-color: rgba(0, 0, 0, 0.12);
                outline: none;
            }

            @media(max-width:$media-sm) {
                height: 30px;
            }
        }

        .submit-btn {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .submit {
                border: none;
                width: 190px;
                padding-left: 70px;
                padding-right: 70px;

                background-color: $cta;
                border: 1px solid $cta;
                color: $white;
                font-size: 15px;
                border-radius: 5px;
                font-weight: $medium;
                transition: 0.5s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: transparent;
                    color: $cta;
                }

                @media(max-width:$media-sm) {
                    width: 108px;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }

    .show-modal {
        display: inline-flex;
        border: 1px solid #906be1;
        background-color: var(--color-accent);
        appearance: none;
        font-size: 1rem;
        line-height: 1;
        color: #fff;
        padding: 0.6em 2em 0.7em;
        // border-radius: 5px;

        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            background-color: #906be1;
            color: #fff;
        }
    }

    .js-modal {
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;

        .modal__inner {
            max-width: 600px;
            height: 100%;
            transform: translateY(100%);
            opacity: 0;
            transition: transform 0.5s ease-in-out .1s;

            @media(max-width:$media-sm) {
                height: 400px;
            }
        }

        &.is-open {
            visibility: visible;
            opacity: 1;

            .modal__inner {
                opacity: 1;
                transform: translateY(0);
                border-radius: 10px;
            }
        }
    }

}