.maintainance_section {
    background: transparent linear-gradient(180deg, #CFDBE6 0%, #FFFFFF 0%, #CFDBE6 100%) 0% 0% no-repeat padding-box;

    .container-alpha {
        .maintainance_block {
            padding-top: 278px;
            padding-bottom: 131px;

            .maintainance_block-1 {
                h2 {
                    padding-bottom: 30px;
                    font-size: 30px;
                    line-height: 40px;
                    font-family: $font-1;
                    font-weight: $medium;
                }
            }

            .maintainance_block-2 {
                display: grid;
                gap: 30px;
                grid-template-columns: repeat(4, .1fr);

                .maintainance_block-2_element-1 {
                    display: flex;
                    border-radius: 5px;
                    background-color: #fff;
                    width: 248px;
                    height: 139px;
                    padding: 30px 50px 30px 50px;

                    h4 {
                        font-weight: $medium;
                        font-family: $font-1;
                        text-align: left;
                        color: $secondary;
                        line-height: 26px;
                        font-size: 18px;
                        font-weight: $medium;
                    }
                }

                .maintainance_block-2_element-2 {
                    background-color: #0A2C4A;
                    border-radius: 5px;
                    padding: 30px 50px 30px 50px;
                    width: 248px;
                    height: 139px;

                    h4 {
                        font-weight: $medium;
                        font-family: $font-1;
                        text-align: left;
                        color: #fff;
                        line-height: 26px;
                        font-weight: $medium;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

//media query starts
@media(max-width: $media-lg) {
    .maintainance_section {
        .container-alpha {
            .maintainance_block {
                .maintainance_block-2 {
                    display: grid;
                    gap: 30px;
                    grid-template-columns: repeat(3, .1fr);
                }
            }
        }
    }
}

@media(max-width: $media-md) {
    .maintainance_section {
        .container-alpha {
            .maintainance_block {
                .maintainance_block-2 {
                    display: grid;
                    gap: 30px;
                    grid-template-columns: repeat(3, .1fr);
                }
            }
        }
    }
}

@media(max-width: $media-sm) {
    .maintainance_section {
        .container-alpha {
            .maintainance_block {
                .maintainance_block-2 {
                    display: grid;
                    gap: 30px;
                    grid-template-columns: repeat(2, .1fr);
                }
            }
        }
    }
}

@media(max-width: $media-xs) {
    .maintainance_section {
        .container-alpha {
            .maintainance_block {
                padding-top: 135px;
                padding-bottom: 57px;

                .maintainance_block-1 {
                    h2 {
                        padding-bottom: 30px;
                        font-size: 20px;
                        line-height: 28px;
                    }
                }

                .maintainance_block-2 {
                    display: grid;
                    gap: 10px;
                    grid-template-columns: repeat(3, .1fr);

                    .maintainance_block-2_element-1 {
                        display: flex;
                        border-radius: 5px;
                        background-color: #fff;
                        width: 113px;
                        height: 96px;
                        padding: 17px 15px 44px 15px;

                        h4 {
                            text-align: left;
                            color: $secondary;
                            line-height: 15px;
                            font-size: 12px;
                            font-weight: $medium;
                        }
                    }

                    .maintainance_block-2_element-2 {
                        background-color: #0A2C4A;
                        border-radius: 5px;
                        width: 110px;
                        height: 96px;
                        padding: 17px 15px 44px 15px;

                        h4 {
                            color: $white;
                            line-height: 15px;
                            font-weight: $medium;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

//media query ends