.manufacture_section {
    height: auto;

    .manufacture_main-block {
        padding-top: 150px;

        .manufacture_main-block_sub-1 {
            h2 {
                padding-bottom: 20px;
                font-size: 25px;
                line-height: 30px;
                color: #0A2C4A;
                font-weight: $semi-bold;
                font-family: $font-1;
            }
        }
    }

    .main_block_sub2-img {
        display: grid;
        grid-template-columns: repeat(5, .5fr);
        gap: 30px;

        .manufacture_main-block_sub-2 {
            border: 1px solid $border;
            height: 300px;
            // width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            padding-right: 33px;
            padding-left: 33px;

            h5 {
                text-align: center;
                color: $primary;
                font-size: 16px;
                font-family: $font-1;
                font-weight: $semi-bold;
                padding-top: 37px;
                line-height: 20px;
                width: 165px;
                height: 40px;
            }

            img {
                // width: 101px;
                height: 158px;
            }
        }
    }
}

// media query///////
@media(max-width: $media-xlg) {
    .manufacture_section {
        height: auto;

        .manufacture_main-block {
            .manufacture_main-block_sub-1 {
                h2 {
                    white-space: wrap;
                }
            }

            .main_block_sub2-img {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

// media-lg
@media(max-width: $media-lg) {
    .manufacture_section {
        height: auto;

        .manufacture_main-block {
            .manufacture_main-block_sub-1 {
                h2 {
                    white-space: wrap;
                }
            }

            .main_block_sub2-img {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

//end media-lg
//media-md starts
@media(max-width: $media-md) {
    .manufacture_section {
        height: auto;

        .manufacture_main-block {
            .manufacture_main-block_sub-1 {
                h2 {
                    white-space: nowrap;
                }
            }

            .main_block_sub2-img {
                display: grid;
                grid-template-columns: repeat(3, .1fr);
                gap: 20px;

                .manufacture_main-block_sub-2 {
                    width: 250px;
                    height: 300px;
                }
            }
        }
    }
}

@media(max-width: $media-sm) {
    .manufacture_section {
        height: auto;

        .manufacture_main-block {
            .manufacture_main-block_sub-1 {
                h2 {
                    white-space: wrap;
                }
            }

            .main_block_sub2-img {
                display: block;
                display: flex;
                overflow-x: scroll;
                position: relative;

                .manufacture_main-block_sub-2 {
                    width: 248px;
                    height: 300px;
                }
            }
        }
    }
}

//media-sm ends
//media-xs starts
@media(max-width: $media-xs) {
    .manufacture_section {
        height: auto;

        .container-alpha {
            .manufacture_main-block {
                padding-top: 42px;

                .manufacture_main-block_sub-1 {
                    h2 {
                        white-space: wrap;
                        font-size: 15px;
                        line-height: 19px;
                    }
                }

                .main_block_sub2-img {
                    display: block;
                    display: flex;
                    overflow-x: scroll;
                    position: relative;

                    .manufacture_main-block_sub-2 {
                        height: 300px;
                        width: 250px;
                    }
                }
            }
        }
    }
}

//media-xs ends