.banner_what-we-do {
    height: 720px;
    background-image: linear-gradient(270deg, #0A2C4A 54%, rgba(255, 255, 255, 0) 60%), url('/static/img/5-axis-bending-machine-2x.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;

    .container-alpha {
        height: 100%;
        display: flex;
        justify-content: flex-end;

        .banner_what-we-do_block-1 {
            height: 100%;
            display: flex;
            justify-content: center;
            width: 665px;
            flex-direction: column;

            h3 {
                text-align: left;
                font-family: $font-1;
                font-weight: $semi-bold;
                font-size: 30px;
                color: $white;
                line-height: 36px;
                padding-bottom: 30px;
            }

            p {
                font-family: $font-1;
                font-size: 20px;
                color: $white;
                font-weight: $regular;
                line-height: 30px;
            }
        }
    }
}

//media query
//media--lg
@media(max-width: $media-lg) {
    .banner_what-we-do {
        .banner_what-we-do_block-1 {
            padding-left: 100px;

            p {
                font-size: 20px;
                width: 550px;
            }
        }
    }
}

//media-lg end
//media-md starts
@media(max-width: $media-md) {
    .banner_what-we-do {
        .container-alpha {
            .banner_what-we-do_block-1 {
                padding-top: 125px;
                padding-bottom: 214px;
                padding-left: 250px;

                p {
                    font-size: 20px;
                    width: 400px;
                }
            }
        }
    }
}

//media-md ends
//media-sm starts
@media(max-width: $media-sm) {
    .banner_what-we-do {
        .container-alpha {
            .banner_what-we-do_block-1 {
                padding-left: 275px;

                h3 {
                    font-size: 25px;
                }

                p {
                    font-size: 20px;
                    width: 400px;
                }
            }
        }
    }
}

//media-sm ends
//media-xs starts
@media(max-width:$media-xs) {
    .banner_what-we-do {
        height: 300px;
        padding-bottom: 0;
        //background-position: ;
        background-size: cover;

        .container-alpha {
            .banner_what-we-do_block-1 {
                padding-top: 240px;
                display: flex;
                justify-content: end;
                flex-direction: column;

                h3 {
                    padding-bottom: 10px;
                    font-size: 15px;
                    line-height: 19px;
                }

                p {
                    font-size: 11px;
                    line-height: 18px;
                    width: 180px;
                }
            }
        }
    }
}

//media-xs